/* Border radius */
$font-family: Myriad Pro;

/*FONT SIZING*/
$primary-textsize: 28px;
$secondary-textsize: 24px;
$tertiary-textsize: 16px;
$paragraph-textsize: 14px;

/* COLORS */
$primary-color: #016177; /*blue*/
$secondary-color: #7ABE47; /*green*/
$tertiary-color: #7ABE47; /*mint green*/
$white: #FFFFFF; /*White*/
$light-gray: #3F3F3F; /*light gray*/

/* Break-point */
$break-point: 767px;

/* line height */
$line-height: 1.5em;