/*
Theme Name: standard_service
Theme URI: https://wordpress.org/themes/standard_service/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: ynswebsite

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Border radius */
/*FONT SIZING*/
/* COLORS */
/*blue*/
/*green*/
/*mint green*/
/*White*/
/*light gray*/
/* Break-point */
/* line height */
* {
  line-height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box; }

body {
  font-family: Myriad Pro;
  min-width: 100%;
  overflow-y: scroll; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: initial; }

ul,
dl,
dt,
dd {
  margin: 0;
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

p {
  margin: 0; }

::-webkit-input-placeholder {
  color: #FFFFFF; }

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .slick-dots {
      bottom: 35px; } }
  .slick-dots li {
    display: inline-block;
    margin-right: 15px; }
  .slick-dots button {
    border-radius: 50%;
    border: none;
    background: #d3dbe6;
    font-size: 0;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer; }

.slick-active > button {
  background: #016177; }

/*COMPONENTS*/
.header__container {
  margin: auto;
  max-width: 1170px;
  padding: 5px 15px;
  font-size: 0; }

.header__logo {
  display: inline-block;
  width: 17%;
  vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .header__logo {
      width: 50%; } }

@media screen and (max-width: 767px) {
  .header__logo-image {
    width: 100%; } }

.header__icon-menu {
  display: none; }
  @media screen and (max-width: 767px) {
    .header__icon-menu {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      text-align: right; } }

.header__contacts {
  display: inline-block;
  width: 83%;
  vertical-align: middle;
  text-align: right; }
  @media screen and (max-width: 767px) {
    .header__contacts {
      display: none; } }

.header__icon {
  margin-right: 10px; }

.header__contact-list {
  display: inline-block;
  margin-right: 4%;
  vertical-align: middle; }
  .header__contact-list:last-child {
    margin-right: 0; }

.header__contact-link {
  color: #016177;
  font-size: 15px;
  text-align: left; }

.header__search {
  cursor: pointer; }

.header__nav-container {
  margin: auto;
  max-width: 1170px;
  font-size: 0; }
  @media screen and (max-width: 767px) {
    .header__nav-container {
      position: absolute;
      background-color: #016177;
      z-index: 2; } }

.header__menu {
  display: inline-block;
  width: 75%;
  vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .header__menu {
      width: 100%; } }

.header__social-media {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  text-align: right; }
  @media screen and (max-width: 767px) {
    .header__social-media {
      width: 100%; } }

.header__navigation {
  background-color: #016177; }
  @media screen and (max-width: 767px) {
    .header__navigation {
      display: none;
      position: relative; } }

.header__navigation-list {
  display: inline-block;
  text-align: center;
  border-right: 1px solid rgba(7, 25, 37, 0.3); }
  @media screen and (max-width: 767px) {
    .header__navigation-list {
      text-align: left;
      padding: 0 15px; } }
  .header__navigation-list:first-child {
    width: 10%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:first-child {
        width: 100%; } }
  .header__navigation-list:nth-child(2) {
    width: 13%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:nth-child(2) {
        width: 100%; } }
  .header__navigation-list:nth-child(3) {
    width: 16%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:nth-child(3) {
        width: 100%; } }
  .header__navigation-list:nth-child(4) {
    width: 19%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:nth-child(4) {
        width: 100%; } }
  .header__navigation-list:nth-child(5) {
    width: 15%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:nth-child(5) {
        width: 100%; } }
  .header__navigation-list:last-child {
    width: 14%; }
    @media screen and (max-width: 767px) {
      .header__navigation-list:last-child {
        width: 100%; } }
  .header__navigation-list:hover {
    background: rgba(7, 25, 37, 0.3); }

.header__navigation-link {
  display: block;
  padding: 15px 0;
  color: #FFFFFF;
  font-size: 15px; }

.header__social-list {
  display: inline-block;
  width: 17%;
  text-align: center;
  border-left: 1px solid rgba(7, 25, 37, 0.3); }
  @media screen and (max-width: 767px) {
    .header__social-list {
      width: 25%;
      padding: 0 15px;
      text-align: center; } }
  .header__social-list:last-child {
    border-right: 1px solid rgba(7, 25, 37, 0.3); }
    @media screen and (max-width: 767px) {
      .header__social-list:last-child {
        border-right: none; } }
  .header__social-list:hover {
    background: rgba(7, 25, 37, 0.3); }

.header__social-link {
  display: block;
  padding: 15px 0; }

@media screen and (max-width: 767px) {
  .header__hamburger-menu {
    display: inline-block;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    vertical-align: middle; } }

.header__hamburger-span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #016177;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }
  .header__hamburger-span:nth-child(1) {
    top: 0px; }
  .header__hamburger-span:nth-child(2), .header__hamburger-span:nth-child(3) {
    top: 12px; }
  .header__hamburger-span:nth-child(4) {
    top: 25px; }

.header__hamburger-menu.header__hamburger-menu--open .header__hamburger-span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header__hamburger-menu.header__hamburger-menu--open .header__hamburger-span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.header__hamburger-menu.header__hamburger-menu--open .header__hamburger-span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__hamburger-menu.header__hamburger-menu--open .header__hamburger-span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.button {
  display: block;
  color: #FFF;
  background-color: #7ABE47;
  border: 1px solid #7ABE47;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px; }
  .button__text {
    display: inline-block;
    vertical-align: middle; }
  .button__icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    margin-left: 10px; }

.button.button--lets-talk {
  width: 145px; }

.button.button--banner {
  font-size: 18px;
  width: 200px; }

.button__icon.button__icon--banner {
  font-size: 12px; }

.button.button--readmore {
  width: 140px;
  font-size: 12px; }

.button.button--send {
  margin: 0 auto;
  width: 50%; }

.footer {
  background-color: #484848; }
  .footer__container {
    margin: auto;
    max-width: 1170px;
    padding: 55px 15px;
    font-size: 0; }
  .footer__about-company {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
    @media screen and (max-width: 767px) {
      .footer__about-company {
        width: 100%; } }
  .footer__title {
    font-size: 24px;
    color: #FFF;
    margin-bottom: 40px; }
  .footer__paragraph {
    width: 82%;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 15px; }
  .footer__menu {
    display: inline-block;
    width: 17%;
    vertical-align: top; }
    .footer__menu:last-child {
      width: 25%; }
      @media screen and (max-width: 767px) {
        .footer__menu:last-child {
          width: 100%; } }
    @media screen and (max-width: 767px) {
      .footer__menu {
        margin-top: 20px;
        width: 100%; } }
  .footer__list {
    width: 80%;
    padding: 0 5px 12px; }
  .footer__link {
    color: #FFFFFF;
    font-size: 14px; }
  .footer__link-icon {
    display: inline-block;
    margin-right: 10px;
    color: #60ACDF;
    vertical-align: top;
    font-size: 9px; }
  .footer__link-text {
    display: inline-block;
    vertical-align: middle; }
  .footer__contact-info {
    display: block;
    font-size: 18px;
    padding-bottom: 15px; }
  .footer__contact-link {
    color: #60ACDF;
    word-break: break-all; }
  .footer__copyright-container {
    background: #303030;
    border-top: 1px solid #8c8787; }
  .footer__copyright {
    margin: auto;
    max-width: 1170px;
    font-size: 0;
    padding: 20px 15px; }
  .footer__copyright-content, .footer__copyright-link {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #FFFFFF; }
    @media screen and (max-width: 767px) {
      .footer__copyright-content, .footer__copyright-link {
        margin-bottom: 15px;
        width: 100%;
        text-align: center; } }
  .footer__copyright-link {
    text-align: right; }
    @media screen and (max-width: 767px) {
      .footer__copyright-link {
        text-align: center; } }
  .footer__copyright-menu {
    display: inline-block;
    padding: 0 20px 0 20px;
    border-right: 2px solid #FFF;
    color: #FFFFFF; }
    .footer__copyright-menu:last-child {
      padding-right: 0;
      border-right: none; }

.section__content {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px; }

.section__title {
  margin-bottom: 70px;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold; }

.section__title.section__title--blogs,
.section__title.section__title--about-us,
.section__title.section__title--services,
.section__title.section__title--contact {
  color: #016177; }

.section__content.section__content--panel {
  padding: 0;
  font-size: 0; }
  @media screen and (max-width: 767px) {
    .section__content.section__content--panel {
      padding: 0 15px; } }

.banner-slider__container {
  display: none;
  background: url("images/banner/banner-slide.jpg") no-repeat;
  background-position: center;
  padding: 100px 0; }
  .banner-slider__container:first-child {
    display: block; }
  @media screen and (max-width: 767px) {
    .banner-slider__container {
      background-position: left; } }

.banner-slider__content {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px; }

.banner-slider__headline {
  width: 45%;
  color: #016177;
  font-size: 70px;
  font-weight: bold;
  line-height: 1em; }
  @media screen and (max-width: 767px) {
    .banner-slider__headline {
      width: 100%;
      font-size: 45px; } }

.banner-slider__information {
  margin-top: 35px;
  width: 40%;
  font-size: 24px;
  color: #000000; }
  @media screen and (max-width: 767px) {
    .banner-slider__information {
      width: 100%; } }

.banner-slider__button {
  margin-top: 40px; }

.banner-slider__container.banner-slider__container--second {
  background: url("images/banner/banner-slide-2.jpg") no-repeat;
  background-position: center; }

.banner-slider__container.banner-slider__container--third {
  background: url("images/banner/banner-slide-3.jpg") no-repeat;
  background-position: center; }

.banner {
  background: url("images/banner/about-us.jpg") no-repeat;
  background-position: center;
  padding: 94px 0; }
  .banner .banner__content {
    text-align: center; }
  .banner .banner__headline {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF; }

.about-us {
  padding: 65px 0 80px; }
  .about-us__guide {
    font-size: 0;
    margin-bottom: 100px; }
  .about-us__image {
    display: block;
    margin: 0 auto; }
  .about-us__image-container {
    height: 110px;
    margin-bottom: 30px; }
  .about-us__guide-list {
    display: inline-block;
    width: 25%;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    color: #016177;
    border-left: 1px solid rgba(32, 24, 20, 0.1);
    padding: 10px 0; }
    .about-us__guide-list:first-child {
      border-left: none; }
    @media screen and (max-width: 767px) {
      .about-us__guide-list:nth-child(3) {
        border-left: none; } }
    @media screen and (max-width: 767px) {
      .about-us__guide-list {
        margin-bottom: 15px;
        width: 50%; } }
  .about-us__guide-text {
    display: inline-block;
    width: 60%; }
    @media screen and (max-width: 767px) {
      .about-us__guide-text {
        width: 90%; } }
  .about-us__information-container {
    font-size: 0; }
  .about-us__information-content, .about-us__video-container {
    display: inline-block;
    width: 48%;
    color: #444444;
    font-size: 14px;
    vertical-align: top;
    margin-right: 4%; }
    .about-us__information-content:last-child, .about-us__video-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      .about-us__information-content, .about-us__video-container {
        width: 100%;
        margin: 0; } }
  @media screen and (max-width: 767px) {
    .about-us__video-container {
      margin-top: 30px; } }
  .about-us__video {
    width: 100%; }
  .about-us__paragraph {
    margin-bottom: 30px; }
    @media screen and (max-width: 767px) {
      .about-us__paragraph {
        margin-bottom: 15px; } }
  .about-us__readmore {
    color: #7ABE47;
    font-size: 14px; }
  .about-us__readmore-text {
    margin-right: 15px; }

.services {
  background: url("images/services/services_banner.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  padding: 85px 0; }
  .services__list-content {
    font-size: 0;
    text-align: center; }
  .services__list {
    display: inline-block;
    margin: 0 3% 50px 0;
    width: 28%; }
    @media screen and (max-width: 767px) {
      .services__list {
        width: 100%; } }
    .services__list:nth-child(3), .services__list:nth-child(6) {
      margin-right: 0; }
    .services__list:nth-child(4), .services__list:nth-child(5), .services__list:nth-child(6) {
      margin-bottom: 0; }
      @media screen and (max-width: 767px) {
        .services__list:nth-child(4), .services__list:nth-child(5), .services__list:nth-child(6) {
          margin-bottom: 50px; } }
    @media screen and (max-width: 767px) {
      .services__list:last-child {
        margin-bottom: 0; } }
  .services__type {
    border: 1px solid #B9B9B9;
    padding: 45px 25px 25px;
    position: relative;
    cursor: pointer;
    transition: 1s; }
    .services__type:hover {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.1); }
  .services__icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    position: absolute;
    top: -15%;
    left: 42%;
    transition: 0.7s; }
  .services__type-title {
    font-size: 18px;
    color: #7abe47; }
  .services__paragraph {
    font-size: 14px;
    color: #B9B9B9; }

.services__icon.services__icon--first {
  background: url("./images/services/services1.png"); }

.services__icon.services__icon--second {
  background: url("./images/services/services2.png"); }

.services__icon.services__icon--third {
  background: url("./images/services/services3.png"); }

.services__icon.services__icon--fourth {
  background: url("./images/services/services4.png"); }

.services__icon.services__icon--fifth {
  background: url("./images/services/services5.png"); }

.services__type:hover .services__icon.services__icon--first {
  background: url("./images/services/services1-active.png"); }

.services__type:hover .services__icon.services__icon--second {
  background: url("./images/services/services2-active.png"); }

.services__type:hover .services__icon.services__icon--third {
  background: url("./images/services/services3-active.png"); }

.services__type:hover .services__icon.services__icon--fourth {
  background: url("./images/services/services4-active.png"); }

.services__type:hover .services__icon.services__icon--fifth {
  background: url("./images/services/services5-active.png"); }

.services__type:hover .services__type-title,
.services__type:hover .services__paragraph {
  color: #FFFFFF; }

.testimonial {
  margin: 0 auto;
  max-width: 1349px;
  padding: 100px 0; }
  .testimonial__content {
    margin: 0 0 0 89px;
    padding: 0 0 0 15px;
    font-size: 0; }
    @media screen and (max-width: 767px) {
      .testimonial__content {
        margin: 0;
        padding: 0 15px; } }
  .testimonial__information, .testimonial__image-container {
    display: inline-block;
    margin-right: 4%;
    width: 48%;
    vertical-align: top; }
    @media screen and (max-width: 767px) {
      .testimonial__information, .testimonial__image-container {
        margin: 0;
        width: 100%; } }
  .testimonial__image-container {
    margin-right: 0; }
  .testimonial__check {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle; }
  .testimonial__title {
    margin-bottom: 30px;
    font-size: 28px;
    color: #016177; }
  .testimonial__paragraph {
    margin-bottom: 30px;
    font-size: 16px; }
  .testimonial__list {
    margin-bottom: 20px; }
  .testimonial__text {
    display: inline-block;
    width: 89%;
    vertical-align: middle;
    font-size: 18px; }
  .testimonial__image {
    width: 100%; }

.testimonial__paragraph.testimonial__paragraph--text {
  margin-bottom: 70px;
  max-width: 1170px;
  color: #444444; }
  @media screen and (max-width: 767px) {
    .testimonial__paragraph.testimonial__paragraph--text {
      margin-bottom: 30px; } }

.testimonial__content.testimonial__content--right {
  margin: 140px 89px 140px 0;
  padding: 0 15px 0 0; }
  @media screen and (max-width: 767px) {
    .testimonial__content.testimonial__content--right {
      margin: 100px 0 30px;
      padding: 0 15px; } }
  .testimonial__content.testimonial__content--right .testimonial__information {
    margin-right: 0; }
  .testimonial__content.testimonial__content--right .testimonial__image-container {
    margin-right: 4%; }

.chart {
  padding: 70px 0;
  background: url("./images/banner/banner2.jpg") no-repeat;
  background-position: center; }
  @media screen and (max-width: 767px) {
    .chart {
      background-position: left; } }
  .chart__content {
    margin: auto;
    max-width: 1170px;
    padding: 0 15px;
    text-align: right; }
  .chart__information {
    display: inline-block;
    width: 50%;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .chart__information {
        width: 100%; } }
  .chart__title {
    margin-bottom: 30px;
    width: 85%;
    font-size: 36px;
    color: #016177;
    line-height: 1em; }
  .chart__paragraph {
    margin-bottom: 30px; }

.blogs {
  padding: 80px 0; }
  .blogs__list-container {
    font-size: 0; }
  .blogs__image-container {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
  .blogs__list-content {
    display: inline-block;
    margin-left: 4%;
    width: 56%;
    vertical-align: top; }
  .blogs__image {
    width: 100%; }
  .blogs__list {
    display: inline-block;
    margin: 0 4% 40px 0;
    width: 48%;
    vertical-align: top; }
    .blogs__list:nth-child(2n) {
      margin-right: 0; }
    .blogs__list:nth-child(3), .blogs__list:nth-child(4) {
      margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .blogs__list {
        width: 100%; } }
  .blogs__list-title {
    display: block;
    font-size: 18px;
    color: #000000; }
  .blogs__list-author, .blogs__list-date, .blogs__paragraph {
    font-size: 14px;
    color: #3F3F3F; }
  .blogs__readmore {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #7ABE47; }
  .blogs__list-author {
    padding-right: 10px;
    border-right: 1px solid #3F3F3F; }
  .blogs__list-date {
    padding-left: 10px; }

.history {
  padding: 100px 0; }
  .history__paragraph {
    margin-bottom: 25px;
    font-size: 14px; }
  .history__detail-content, .history__image-container {
    display: inline-block;
    width: 48%;
    vertical-align: top; }
    @media screen and (max-width: 767px) {
      .history__detail-content, .history__image-container {
        width: 100%; } }
  .history__image {
    width: 100%; }
  .history__detail-content {
    margin-right: 4%; }
    @media screen and (max-width: 767px) {
      .history__detail-content {
        margin-right: 0; } }
  .history__content {
    font-size: 0;
    margin-bottom: 100px; }
    .history__content:last-child {
      margin-bottom: 0; }
  .history__title-content {
    width: 95%;
    display: inline-block;
    color: #7ABE47;
    font-size: 18px; }
  .history__accordion-content {
    display: none; }
  .history__accordion {
    border-bottom: 1px solid #CCCCCC; }
    .history__accordion:first-child .history__accordion-content {
      display: block; }
  .history__readmore {
    padding: 50px 0 0; }
  .history__readmore-text {
    font-size: 18px;
    color: #016177; }
  .history__title {
    padding: 20px 0;
    cursor: pointer; }
  .history__arrow {
    display: inline-block;
    width: 5%;
    height: 30px;
    vertical-align: middle;
    background: url("images/icons/arrow-down.png") no-repeat;
    background-position-y: center; }

.history__image-container.history__image-container--left {
  margin-right: 4%; }
  @media screen and (max-width: 767px) {
    .history__image-container.history__image-container--left {
      margin-right: 0; } }

.history__detail-content.history__detail-content--right {
  margin-right: 0; }

.history__paragraph.history__paragraph--accordion {
  color: #5F5F5F; }

.history__arrow.history__arrow--open {
  background: url("images/icons/arrow-up.png") no-repeat; }

.panel {
  display: inline-block;
  margin-right: 4%;
  width: 70%;
  padding: 90px 0;
  vertical-align: top; }
  @media screen and (max-width: 767px) {
    .panel {
      margin-right: 0;
      width: 100%;
      padding: 90px 0 50px; } }
  .panel__blog-image {
    width: 100%; }
  .panel__blog-list {
    margin-bottom: 60px; }
  .panel__blog-title {
    margin-bottom: 25px; }
  .panel__title-content {
    font-size: 20px;
    color: #016177; }
  .panel__special-icon-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-bottom: 15px; }
    .panel__special-icon-list:last-child {
      margin-right: 0; }
  .panel__icon-title {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    color: #016177; }
  .panel__blog-paragraph {
    font-size: 12px;
    color: #3F3F3F;
    margin-bottom: 25px; }
  .panel__icon {
    font-size: 14px;
    color: #016177;
    vertical-align: middle;
    margin-right: 5px; }
  .panel__button-readmore {
    margin-right: 10px; }

.sidebar {
  display: inline-block;
  width: 26%;
  vertical-align: top;
  padding: 90px 0; }
  @media screen and (max-width: 767px) {
    .sidebar {
      width: 100%;
      padding: 0 0 50px; } }
  .sidebar__title {
    font-size: 16px;
    color: #016177;
    display: block;
    border-bottom: 2px solid #016177;
    padding: 0 0 10px; }
  .sidebar__detail {
    padding: 10px 0 50px; }
  .sidebar__list {
    padding: 10px 0;
    font-size: 15px; }
  .sidebar__image-container {
    display: inline-block;
    margin-right: 3%;
    width: 25%;
    vertical-align: middle; }
  .sidebar__post-content {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-size: 12px; }
  .sidebar__social-icons {
    padding: 10px 0; }
  .sidebar__social-list {
    display: inline-block;
    width: 16.6%;
    text-align: center;
    font-size: 24px;
    color: #7ABE47; }

.services-page {
  padding: 100px 0; }
  .services-page__title {
    margin-bottom: 60px;
    font-size: 18px; }
    @media screen and (max-width: 767px) {
      .services-page__title {
        margin: 20px 0 40px; } }
  .services-page__title-text {
    font-weight: bold; }
  .services-page__readmore {
    color: #016177;
    font-size: 18px;
    font-weight: bold; }
  .services-page__readmore-text {
    display: inline-block;
    margin-right: 15px;
    padding: 15px 0; }

.contact {
  padding: 100px 0; }
  .contact__map {
    display: inline-block;
    margin: 0 8% 0 0;
    width: 57%;
    vertical-align: top; }
    @media screen and (max-width: 767px) {
      .contact__map {
        margin-right: 0;
        width: 100%; } }
  .contact__list {
    display: inline-block;
    width: 30.3%;
    vertical-align: top;
    padding: 0 10px; }
    @media screen and (max-width: 767px) {
      .contact__list {
        width: 100%; } }
    .contact__list:first-child {
      width: 39%; }
      @media screen and (max-width: 767px) {
        .contact__list:first-child {
          width: 100%; } }
  .contact__content {
    font-size: 0; }
  .contact__paragraph {
    font-size: 14px;
    color: #242d3c; }
  .contact__title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #016177;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      .contact__title {
        margin: 20px 0; } }
  .contact__map-content {
    width: 100%;
    height: 350px; }
  .contact__information {
    margin-top: 50px; }
    @media screen and (max-width: 767px) {
      .contact__information {
        margin-bottom: 50px; } }

.form {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  background: #016177;
  padding: 35px 20px 25px; }
  @media screen and (max-width: 767px) {
    .form {
      width: 100%; } }
  .form__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center; }
  .form__input {
    margin-bottom: 10px;
    width: 100%;
    padding: 12px 0 12px 35px;
    color: #FFFFFF;
    border: none;
    background: #0B7087; }
  .form__button {
    text-align: center; }
  .form__list {
    position: relative; }
  .form__icon {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 10px;
    top: 13px; }

.form__input.form__input--textarea {
  resize: none;
  height: 125px; }
