.testimonial {
	margin: 0 auto;
	max-width: 1349px;
	padding: 100px 0;

	&__content {
		margin: 0 0 0 89px;
		padding: 0 0 0 15px;
		font-size: 0;

		@media screen and (max-width: 767px ) {
			margin: 0;
			padding: 0 15px;
		}
	}

	&__information,
	&__image-container {
		display: inline-block;
		margin-right: 4%;
		width: 48%;
		vertical-align: top;

		@media screen and (max-width: 767px ) {
			margin: 0;
			width: 100%;
		}
	}

	&__image-container {
		margin-right: 0;
	}

	&__check {
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}

	&__title {
		margin-bottom: 30px;
		font-size: $primary-textsize;
		color: $primary-color;
	}

	&__paragraph {
		margin-bottom: 30px;
		font-size: $tertiary-textsize;
	}

	&__list {
		margin-bottom: 20px;
	}

	&__text {
		display: inline-block;
		width: 89%;
		vertical-align: middle;
		font-size: 18px;
	}

	&__image {
		width: 100%;
	}
}

.testimonial__paragraph.testimonial__paragraph--text {
	margin-bottom: 70px;
	max-width: 1170px;
	color: #444444;

	@media screen and (max-width: 767px ) {
		margin-bottom: 30px;
	}
}

.testimonial__content.testimonial__content--right {
	margin: 140px 89px 140px 0;
	padding: 0 15px 0 0;

	@media screen and (max-width: 767px ) {
		margin: 100px 0 30px;
		padding: 0 15px;
	}

	.testimonial__information {
		margin-right: 0;
	}

	.testimonial__image-container {
		margin-right: 4%;	
	}
}