.footer {
	background-color: #484848;

	&__container {
		margin: auto;
		max-width: 1170px;
		padding: 55px 15px;
		font-size: 0;	
	}

	&__about-company {
		display: inline-block;
		width: 40%;
		vertical-align: top;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__title {
		font-size: 24px;
		color: #FFF;
		margin-bottom: 40px;
	}

	&__paragraph {
		width: 82%;
		color: $white;
		font-size: $paragraph-textsize;
		line-height: $line-height;
		margin-bottom: 15px;
	}

	&__menu {
		display: inline-block;
		width: 17%;
		vertical-align: top;

		&:last-child {
			width: 25%;

			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		@media screen and (max-width: 767px ) {
			margin-top: 20px;
			width: 100%;
		}
	}

	&__list {
		width: 80%;
		padding: 0 5px 12px;
	}

	&__link {
		color: $white;
		font-size: $paragraph-textsize;
	}

	&__link-icon {
		display: inline-block;
		margin-right: 10px;
		color: #60ACDF;
		vertical-align: top;
		font-size: 9px;
	}

	&__link-text {
		display: inline-block;
		vertical-align: middle;
	}

	&__contact-info {
		display: block;
		font-size: 18px;
		padding-bottom: 15px;
	}

	&__contact-link {
		color: #60ACDF;
		word-break: break-all;
	}

	&__copyright-container {
		background: #303030;
		border-top: 1px solid #8c8787;
	}

	&__copyright {
		margin: auto;
		max-width: 1170px;
		font-size: 0;
		padding: 20px 15px;
	}

	&__copyright-content,
	&__copyright-link {
		display: inline-block;
		width: 50%;
		font-size: $paragraph-textsize;
		color: $white;

		@media screen and (max-width: 767px ) {
			margin-bottom: 15px;
			width: 100%;
			text-align: center;
		}
	}

	&__copyright-link {
		text-align: right;

		@media screen and (max-width: 767px ) {
			text-align: center;
		}
	}

	&__copyright-menu {
		display: inline-block;
		padding: 0 20px 0 20px;
		border-right: 2px solid #FFF;
		color: $white;

		&:last-child {
			padding-right: 0;
			border-right: none;
		};
	}
}