.chart {
	padding: 70px 0;
	background: url('./images/banner/banner2.jpg') no-repeat;
	background-position: center;

	@media screen and (max-width: 767px ) {
		background-position: left;
	}

	&__content {
		margin: auto;
		max-width: 1170px;
		padding: 0 15px;
		text-align: right;
	}

	&__information {
		display: inline-block;
		width: 50%;
		text-align: left;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 30px;
		width: 85%;
		font-size: 36px;
		color: $primary-color;
		line-height: 1em;
	}

	&__paragraph {
		margin-bottom: 30px;
	}
}