.banner {
  background: url('images/banner/about-us.jpg') no-repeat;
  background-position: center;
  padding: 94px 0;
    
  .banner__content {
      text-align: center;
  }

  .banner__headline {
      width: 100%;
      font-size: 30px;
      font-weight: bold;
      color: $white;
  }
}