.sidebar {
    display: inline-block;
    width: 26%;
    vertical-align: top;
    padding: 90px 0;

    @media screen and (max-width: 767px ) {
        width: 100%;
        padding: 0 0 50px;
    }

    &__title {
        font-size: $tertiary-textsize;
        color: $primary-color;
        display: block;
        border-bottom: 2px solid $primary-color;
        padding: 0 0 10px;
    }

    &__detail {
        padding: 10px 0 50px;
    }

    &__list {
        padding: 10px 0;
        font-size: 15px;
    }

    &__image-container {
        display: inline-block;
        margin-right: 3%;
        width: 25%;
        vertical-align: middle;
    }

    &__post-content {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        font-size: 12px;
    }

    &__social-icons {
        padding: 10px 0;
    }

    &__social-list {
        display: inline-block;
        width: 16.6%;
        text-align: center;
        font-size: $secondary-textsize;
        color: $secondary-color;
    }
}