.panel {
    display: inline-block;
    margin-right: 4%;
    width: 70%;
    padding: 90px 0;
    vertical-align: top;

    @media screen and (max-width: 767px ) {
        margin-right: 0;
        width: 100%;
        padding: 90px 0 50px;
    }

    &__blog-image {
        width: 100%;
    }

    &__blog-list {
        margin-bottom: 60px;
    }

    &__blog-title {
        margin-bottom: 25px;
    }

    &__title-content {
        font-size: 20px;
        color: $primary-color;
    }

    &__special-icon-list {
        display: inline-block;
        vertical-align: top;
        margin-right: 3%;
        margin-bottom: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon-title {
        display: inline-block;
        font-size: 12px;
        vertical-align: top;
        color: $primary-color;
    }

    &__blog-paragraph {
        font-size: 12px;
        color: $light-gray;
        margin-bottom: 25px;
    }

    &__icon {
        font-size: 14px;
        color: $primary-color;
        vertical-align: middle;
        margin-right: 5px;
    }

    &__button-readmore {
        margin-right: 10px;
    }
}