.form {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  background: #016177;
  padding: 35px 20px 25px;

  @media screen and (max-width: 767px ) {
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: $white;
    text-align: center;
  }

  &__input {
    margin-bottom: 10px;
    width: 100%;
    padding: 12px 0 12px 35px;
    color: $white;
    border: none;
    background: #0B7087;
  }

  &__button {
    text-align: center;
  }

  &__list {
    position: relative;
  }

  &__icon {
    font-size: 16px;
    color: $white;
    position: absolute;
    left: 10px;
    top: 13px;
  }
}

.form__input.form__input--textarea {
  resize: none;
  height: 125px;
}