.banner-slider {

	&__container {
		display: none;
		background: url('images/banner/banner-slide.jpg') no-repeat;
		background-position: center; 
		padding: 100px 0;

		&:first-child {
			display: block;
		}

		@media screen and (max-width: 767px ) {
	    background-position: left;
	  }
	}

	&__content {
    margin: auto;
    max-width: 1170px;
    padding: 0 15px;
  }

  &__headline {
    width: 45%;
    color: $primary-color;
    font-size: 70px;
    font-weight: bold;
    line-height: 1em;

    @media screen and (max-width: 767px ) {
      width: 100%;
      font-size: 45px;
    }
  }

  &__information {
    margin-top: 35px;
    width: 40%;
    font-size: $secondary-textsize;
    color: #000000;

    @media screen and (max-width: 767px ) {
      width: 100%;
    }
  }

  &__button {
    margin-top: 40px;
  }
}

.banner-slider__container.banner-slider__container--second {
	background: url('images/banner/banner-slide-2.jpg') no-repeat;	
	background-position: center; 
}

.banner-slider__container.banner-slider__container--third {
	background: url('images/banner/banner-slide-3.jpg') no-repeat;	
	background-position: center; 
}