.services-page {
  padding: 100px 0;

  &__title {
    margin-bottom: 60px;
    font-size: 18px;

    @media screen and (max-width: 767px ) { 
      margin: 20px 0 40px;
    }
  }

  &__title-text {  
    font-weight: bold;
  }

  &__readmore {
    color: $primary-color;
    font-size: 18px;
    font-weight: bold;
  }

  &__readmore-text {
    display: inline-block;
    margin-right: 15px;
    padding: 15px 0;
  }
}