.contact {
    padding: 100px 0;

  &__map {
    display: inline-block;
    margin: 0 8% 0 0;
    width: 57%;
    vertical-align: top;

    @media screen and (max-width: 767px ) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__list {
    display: inline-block;
    width: 30.3%;
    vertical-align: top;
    padding: 0 10px;

    @media screen and (max-width: 767px ) {
      width: 100%;
    }

    &:first-child {
      width: 39%;

      @media screen and (max-width: 767px ) {
        width: 100%;
      }
    }
  }

  &__content {
    font-size: 0;
  }

  &__paragraph {
    font-size: 14px;
    color: #242d3c;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    color: $primary-color;
    font-weight: bold;

    @media screen and (max-width: 767px ) {
      margin: 20px 0;
    }
  }

  &__map-content {
    width: 100%;
    height: 350px;
  }

  &__information {
    margin-top: 50px;

    @media screen and (max-width: 767px ) {
      margin-bottom: 50px;
    }
  }
}