.blogs {
	padding: 80px 0;

	&__list-container {
		font-size: 0;
	}

	&__image-container {
		display: inline-block;
		width: 40%;
		vertical-align: top;
	}

	&__list-content {
		display: inline-block;
		margin-left: 4%;
		width: 56%;
		vertical-align: top;
	}

	&__image {
		width: 100%;
	}

	&__list {
		display: inline-block;
		margin: 0 4% 40px 0;
		width: 48%;
		vertical-align: top;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(3),
		&:nth-child(4) {
			margin-bottom: 0;
		}

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__list-title {
		display: block;
		font-size: 18px;
		color: #000000;
	}

	&__list-author,
	&__list-date,
	&__paragraph {
		font-size: $paragraph-textsize;
		color: $light-gray;
	}

	&__readmore {
		display: inline-block;
		margin-top: 10px;
		font-size: $paragraph-textsize;
		color: $secondary-color;
	}

	&__list-author {
		padding-right: 10px;
		border-right: 1px solid $light-gray;
	}

	&__list-date {
		padding-left: 10px;
	}
}