.about-us {
	padding: 65px 0 80px;

	&__guide {
		font-size: 0;
		margin-bottom: 100px;
	}

	&__image {
		display: block;
		margin: 0 auto;
	}

	&__image-container {
		height: 110px;
		margin-bottom: 30px;
	}

	&__guide-list {
		display: inline-block;
		width: 25%;
		font-size: $tertiary-textsize;
		text-align: center;
		vertical-align: top;
		color: #016177;
		border-left: 1px solid rgba(32,24,20,0.1);
		padding: 10px 0;

		&:first-child {
			border-left: none;
		}

		&:nth-child(3) {
			@media screen and (max-width: 767px ) {
				border-left: none;
			}
		}

		@media screen and (max-width: 767px ) {
			margin-bottom: 15px;
			width: 50%;
		}
	}

	&__guide-text {
		display: inline-block;
		width: 60%;

		@media screen and (max-width: 767px ) {
			width: 90%;
		}
	}

	&__information-container {
		font-size: 0;
	}

	&__information-content,
	&__video-container {
		display: inline-block;
		width: 48%;
		color: #444444;
		font-size: $paragraph-textsize;
		vertical-align: top;
		margin-right: 4%;

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 767px ) {
			width: 100%;
			margin: 0;
		}
	}

	&__video-container {
		@media screen and (max-width: 767px ) {
			margin-top: 30px;
		}
	}

	&__video {
		width: 100%;
	}

	&__paragraph {
		margin-bottom: 30px;

		@media screen and (max-width: 767px ) {
			margin-bottom: 15px;
		}
	}

	&__readmore {
		color: $tertiary-color;
		font-size: $paragraph-textsize;
	}

	&__readmore-text {
		margin-right: 15px;
	}
}