.services {
	background: url('images/services/services_banner.jpg') no-repeat;
	background-position: right;
	background-size: cover; 
	padding: 85px 0;

	&__list-content {
		font-size: 0;
		text-align: center;
	}

	&__list {
		display: inline-block;
		margin:0 3% 50px 0;
		width: 28%;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}

		&:nth-child(3),
		&:nth-child(6) {
			margin-right: 0;
		}

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			margin-bottom: 0;

			@media screen and (max-width: 767px ) {
				margin-bottom: 50px;
			}
		}

		&:last-child {
			@media screen and (max-width: 767px ) {
				margin-bottom: 0;
			}
		}

	}

	&__type {
		border: 1px solid #B9B9B9;
		padding: 45px 25px 25px;
		position: relative;
		cursor: pointer;
		transition: 1s;

		&:hover {
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.1);
		};
	}

	&__icon {
		display: inline-block;
		width: 55px;
		height: 55px;
		position: absolute;
		top: -15%;
		left: 42%;
		transition: 0.7s;
	}

	&__type-title {
		font-size: 18px;
		color: #7abe47;
	}

	&__paragraph {
		font-size: $paragraph-textsize;
		color: #B9B9B9;
	}
}

.services__icon.services__icon--first {
	background: url('./images/services/services1.png');
}

.services__icon.services__icon--second {
	background: url('./images/services/services2.png');
}

.services__icon.services__icon--third {
	background: url('./images/services/services3.png');
}

.services__icon.services__icon--fourth {
	background: url('./images/services/services4.png');
}

.services__icon.services__icon--fifth {
	background: url('./images/services/services5.png');
}

.services__type:hover {

	.services__icon.services__icon--first {
		background: url('./images/services/services1-active.png');
	}

	.services__icon.services__icon--second {
		background: url('./images/services/services2-active.png');
	}

	.services__icon.services__icon--third {
		background: url('./images/services/services3-active.png');
	}

	.services__icon.services__icon--fourth {
		background: url('./images/services/services4-active.png');
	}

	.services__icon.services__icon--fifth {
		background: url('./images/services/services5-active.png');
	}

	.services__type-title,
	.services__paragraph {
		color: $white;
	}
}