.header {

	&__container {
		margin: auto;
		max-width: 1170px;
		padding: 5px 15px;
		font-size: 0;
	}

	&__logo {
		display: inline-block;
		width: 17%;
		vertical-align: middle;

		@media screen and (max-width: 767px ) {
			width: 50%;
		}
	}

	&__logo-image {
		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__icon-menu {
		display: none;

		@media screen and (max-width: 767px ) {
			display: inline-block;
			width: 50%;
			vertical-align: middle;
			text-align: right;
		}
	}

	&__contacts {
		display: inline-block;
		width: 83%;
		vertical-align: middle;
		text-align: right;

		@media screen and (max-width: 767px ) {
			display: none;
		}
	}

	&__icon {
		margin-right: 10px;
	}

	&__contact-list {
		display: inline-block;
		margin-right: 4%;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		};
	}

	&__contact-link {
		color: $primary-color;
		font-size: 15px;
		text-align: left;
	}

	&__search {
		cursor: pointer;
	}

	&__nav-container {
		margin: auto;
		max-width: 1170px;
		font-size: 0;

		@media screen and (max-width: 767px ) {
			position: absolute;	
			background-color: $primary-color;
			z-index: 2;
		}
	}

	&__menu {
		display: inline-block;
		width: 75%;
		vertical-align: middle;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__social-media {
		display: inline-block;
		width: 25%;
		vertical-align: middle;
		text-align: right;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__navigation {
		background-color: $primary-color;

		@media screen and (max-width: 767px ) {
			display: none;
			position: relative;
		}
	}

	&__navigation-list {
		display: inline-block;
		text-align: center;
		border-right: 1px solid rgba(7,25,37, 0.3);

		@media screen and (max-width: 767px ) {
			text-align: left;
			padding: 0 15px;
		}

		&:first-child {
			width: 10%;

			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:nth-child(2) {
			width: 13%;
			
			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:nth-child(3) {
			width: 16%;
			
			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:nth-child(4) {
			width: 19%;
			
			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:nth-child(5) {
			width: 15%;
			
			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:last-child {
			width: 14%;
			
			@media screen and (max-width: 767px ) {
				width: 100%;
			}
		}

		&:hover {
			background: rgba(7,25,37, 0.3);
		}
	}

	&__navigation-link {
		display: block;
		padding: 15px 0;
		color: $white;
		font-size: 15px;
	}

	&__social-list {
		display: inline-block;
		width: 17%;
		text-align: center;
		border-left: 1px solid rgba(7,25,37, 0.3);

		@media screen and (max-width: 767px ) {
			width: 25%;
			padding: 0 15px;
			text-align: center;
		}

		&:last-child {
			border-right: 1px solid rgba(7,25,37, 0.3);

			@media screen and (max-width: 767px ) {
				border-right: none;
			}
		}

		&:hover {
			background: rgba(7,25,37, 0.3);
		}
	}

	&__social-link {
		display: block;
		padding: 15px 0;
	}

	&__hamburger-menu {
	
		@media screen and (max-width: 767px ) {
			display: inline-block;
			margin-top: 5px;
			width: 40px;
			height: 40px;
			position: relative;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			cursor: pointer;
			vertical-align: middle;
		}
	}

	&__hamburger-span {
	  display: block;
	  position: absolute;
	  height: 6px;
	  width: 100%;
	  background: $primary-color;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;

	  &:nth-child(1) {
  		top: 0px;
	  }

	  &:nth-child(2),
	  &:nth-child(3) {
  		top: 12px;
	  }

	  &:nth-child(4) {
	  	top: 25px;
	  }
	}
}

.header__hamburger-menu.header__hamburger-menu--open {
	.header__hamburger-span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	.header__hamburger-span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.header__hamburger-span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.header__hamburger-span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
}