.section {

	&__content {
		margin: auto;
		max-width: 1170px;
		padding: 0 15px;
		// opacity: 0;
	}

	&__title {
		margin-bottom: 70px;
		font-size: $primary-textsize;
		color: $white;
		text-align: center;
		font-weight: bold;
	}
}

.section__title.section__title--blogs,
.section__title.section__title--about-us,
.section__title.section__title--services,
.section__title.section__title--contact {
	color: $primary-color;	
}

.section__content.section__content--panel {
	padding: 0;
	font-size: 0;

	@media screen and (max-width: 767px ) {
		padding: 0 15px;
	}
}