.history {
	padding: 100px 0;

	&__paragraph {
		margin-bottom: 25px;
		font-size: $paragraph-textsize;
	}

	&__detail-content,
	&__image-container {
		display: inline-block;
		width: 48%;
		vertical-align: top;

		@media screen and (max-width: 767px ) {
			width: 100%;
		}
	}

	&__image {
		width: 100%;
	}

	&__detail-content {
		margin-right: 4%;

		@media screen and (max-width: 767px ) {
			margin-right: 0;	
		}
	}

	&__content {
		font-size: 0;
		margin-bottom: 100px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title-content {
		width: 95%;
		display: inline-block;
		color: $secondary-color;
		font-size: 18px;
	}

	&__accordion-content {
		display: none;
	}

	&__accordion {
		border-bottom: 1px solid #CCCCCC;

		&:first-child {
			.history__accordion-content {
				display: block;
			}
		}
	}

	&__readmore {
		padding: 50px 0 0;
	}

	&__readmore-text {
		font-size: 18px;
		color: $primary-color;
	}

	&__title {
		padding: 20px 0;
		cursor: pointer;
	}

	&__arrow {
		display: inline-block;
		width: 5%;
		height: 30px;
		vertical-align: middle;
		background: url('images/icons/arrow-down.png') no-repeat;
		background-position-y: center;
	}
}

.history__image-container.history__image-container--left {
	margin-right: 4%;

	@media screen and (max-width: 767px ) {
		margin-right: 0;	
	}
}

.history__detail-content.history__detail-content--right {
	margin-right: 0;
}

.history__paragraph.history__paragraph--accordion {
	color: #5F5F5F;
}

.history__arrow.history__arrow--open {
	background: url('images/icons/arrow-up.png') no-repeat;
}