.button {
	display: block;
	color: #FFF;
	background-color: $secondary-color;
	border: 1px solid $secondary-color;
	border-radius: 3px;
	cursor: pointer;
	padding: 7px;

	&__text {
		display: inline-block;
		vertical-align: middle;
	}

	&__icon {
		display: inline-block;
		vertical-align: middle;
		font-size: 8px;
		margin-left: 10px;
	}
}

.button.button--lets-talk {
	width: 145px;
}

.button.button--banner {
	font-size: 18px;
	width: 200px;
}

.button__icon.button__icon--banner {
	font-size: 12px;	
}

.button.button--readmore {
	width: 140px;
	font-size: 12px;
}

.button.button--send {
	margin: 0 auto;
	width: 50%;
}