* {
  line-height: $line-height;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  min-width: 100%;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: initial;
}

ul,
dl,
dt,
dd {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

::-webkit-input-placeholder {
  color: $white;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

  @media screen and (max-width: 767px ) {
    bottom: 35px;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  button {
    border-radius: 50%;
    border: none;
    background: #d3dbe6;
    font-size: 0;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
  }
}

.slick-active > button {
  background: $primary-color;
}